//////  CATEGORY SECTION

    
// Back Button (Left Arrow Btn) On Top Near SubTitle
.back_btn__link 
    text-decoration: none
    margin-right: 20px

    transition: transform .2s linear

    &:hover 
        transform: translateX(-7px)
    

    & img
        display: block
        width: 20px
        height: 20px       