body
    font-family: 'Roboto', sans-serif
    margin: 0

h1, h2, h3, h4, h5, h6
    margin: 0

*
    box-sizing: border-box

    &:before, &:after
        box-sizing: border-box

.main_section
    min-height: 1420px
    position: relative

.backgr_wrapper
    position: absolute
    top: 0
    left: 0
    z-index: -1
    height: 338px
    width: 100%

.background
    position: relative
    height: 338px
    width: 100%
    display: flex
    align-items: center
    justify-content: center

    &::before
        content: ""
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../img/pexels-photo-261187.jpeg') (50% / cover) no-repeat
        position: absolute
        top: 0px
        right: 0px
        bottom: 0px
        left: 0px
        filter: blur(10px)
        -webkit-filter: blur(10px)

h1
    margin-top: 99px
    font-size: 24px
    font-weight: 500
    font-stretch: normal
    font-style: normal
    letter-spacing: 1.2px
    text-align: left
    color: #ffffff
    text-transform: uppercase

h2.sub_header
    margin: 43px 1050px 0 1px
    font-size: 16px
    font-weight: 500
    font-stretch: normal
    font-style: normal
    line-height: 1.94
    letter-spacing: 0.8px
    text-align: left
    color: #ffffff
    text-transform: uppercase

.sub_header_divider
    width: 100%
    height: 2px
    background-color: #eeeeee
    margin-top: 14px
    margin-bottom: 33px
    opacity: 0.2

.category_item
    margin-bottom: 30px
    transition: transform .2s linear
    height: 215px
    text-align: center

    // box-shadow: 0 0 4px fade(#000, 25%)
    // transition: box-shadow .2s linear

    &:hover
        transform: translateY(-10px)
        //box-shadow: 0 0 25px fade(#000, 25%)

    &__add_categ
        padding-top: 71px
        padding-bottom: 71px

        transition: transform .2s linear
        &:hover
            transform: translateY(-10px)
        

.categ_img
    height: 157px

    &__add_categ
        display: block
        width: 40px
        height: 40px
        margin: 0 auto

    img
        width: 100%
        height: 100%
        object-fit: cover
        border-top-left-radius: 2%
        border-top-right-radius: 2%

.categ_title

    font-size: 16px
    font-weight: 500
    font-stretch: normal
    font-style: normal
    letter-spacing: 0.8px
    color: #555555
    text-transform: uppercase
    padding: 21px 0

    &__add_categ
        margin: 16px 0 0
        font-size: 16px
        font-weight: bold
        font-stretch: normal
        font-style: normal
        letter-spacing: 0.8px
        text-transform: uppercase
        color: #aaaaaa
        text-align: center

// MODAL ( Add Category )

.modal__mask
    display: flex // NOT Block !!!
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.75)

    overflow: auto // !!! scroll
    padding: 1rem // !!! for sticking prevent

    position: fixed
    top: 0
    bottom: 0
    z-index: 1000

.modal__dialog
    width: 100%
    max-width: 710px
    margin: auto 
    //padding: 2rem

    

    & .modals_close_btn_wrapper
        background-color: transparent
        //background-repeat: no-repeat
        margin-bottom: 10px

        & button
            display: flex
            margin-left: auto

            background-color: transparent
            background-repeat: no-repeat
            border: none
            cursor: pointer
            overflow: hidden

            & img
                display: block
                width: 23px
                height: 23px
                margin-right: 7px



    & .modal_content
        padding: 35px 25px
        border-radius: 5px
        background-color: white

        &__header
            font-size: 22px
            font-weight: 500
            font-stretch: normal
            font-style: normal
            letter-spacing: 1.2px
            text-align: left
            color: black
            text-transform: uppercase
            
        & .add_category_wrapper
            margin-top: 40px
            padding-bottom: 10px
            border-bottom: 1px solid rgba(112,112,112,0.3)
            display: flex
            justify-content: space-between

            & input
                display: block
                width: 75%
                border: none
                
                font-size: 14px
                font-weight: 500
                letter-spacing: 0.8px
                text-align: left
                color: #888181
                text-transform: uppercase

        & .photo_drag_and_drop
            margin-top: 70px

            & img
                display: block
                width: 40px
                height: 40px
            & .categ_title__add_categ
                font-size: 14px
            & .grop_or
                font-weight: 200
                letter-spacing: 0.8px
                text-align: center
                color: #aaaaaa
            & .btn_choose_files
                padding: 10px 25px
                display: block
                margin: 0 auto
                margin-top: 10px

                background-color: transparent
                background-repeat: no-repeat
                border: 3px solid rgba(178,178,186,1)
                cursor: pointer
                overflow: hidden
                border-radius: 4px
                & .categ_title__add_categ
                    margin: 0
                    font-size: 16px
                    font-weight: 300





        & .add_photo_wrapper

            margin-top: 70px
            display: flex
            justify-content: flex-end
    

    & .btn_text
        font-size: 14px
        font-weight: 500
        line-height: 1.94
        letter-spacing: 0.8px
        //text-align: left
        color: #ffffff
        text-transform: uppercase

    & .modal_add_btn
        display: flex
        padding: 10px 25px
        position: relative

        background-color: #36ba36
        background-repeat: no-repeat
        border: none
        cursor: pointer
        overflow: hidden
        border-radius: 4px

        & img
            display: block
            margin-top: 6px
            margin-right: 9px
            width: 14px
            height: 14px
           